---
import SectionContainer from '~/components/common/SectionContainer.astro';
import QuadColumns from '~/components/widgets/DualColumns.astro';
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};

const columnData = [
  {
    title: 'Skreddersydd eller rett ut-av-boksen?',
    content: 'Headless nettbutikk eller tradisjonell standard nettbutikk? Vi finner ut av det sammen.',
  },
  {
    title: 'Åpen kildekode',
    content:
      'Fleksibel, skalerbar, standard og "ut- av- boksen", eller vi lager det du trenger. Med frihet til å utvide.',
  },
  {
    title: 'B2B eller B2C nettbutikk',
    content: 'Kanskje begge deler? <br /> Vi fikser en løsning som funger for din bedrift',
  },
  {
    title: 'Markedsplass',
    content: 'Drømmer du om en markedsplass for en nisje? <br />Vi setter opp markedsplassen fra A til Å!',
  },
];
---

<Layout {meta}>
  <QuadColumns header={'Netthandel'} columnData={columnData} />
  <SectionContainer id="">
    <!-- Hero w. call to action -->
    <div class="text-center">
      <h1 class="text-4xl">Nettbutikkløsningen som tar hånd om alt det tekniske... og salget</h1>
      <h2 class="text-xl">Vi gir deg verktøyet som gjør at din bedrift slipper å frykte internett.</h2>
      <br />
      <p class="text-lg">
        Vår oppgave er å la deg som kunde fokusere på din forretning og det dere gjør best. Våre rådgivere, webutviklere
        (dataingeniører) utvikler og drifter din nettbutikk i et sikkert IT- miljø.
        <br /><br />
        Som din samarbeidspartner utvikler vi både B2C- nettbutikker og mer avanserte B2B- nettbutikker. Q1 2023 lanserte
        vi også Headless eCommerce. Det blir et svært spennende 2023.
      </p>
    </div>
    <br />
    <div class="grid grid-cols-4">
      <div>Er kjernen i Peak Power's markedsføring og omnikanalstrategi.</div>
      <div>Økte nettandelen av salget til en grossist på Askøy med <strong>735%</strong> i 2022 - 2023</div>
      <div>Økte årlig nettsalg til en klesforretning på Østlandet fra 0 til 85 millioner på 4 år</div>
      <div>Håndtere hele 80 % av salget til en dentalgrossist til nett</div>
    </div>
  </SectionContainer>
</Layout>
