---

---

<!-- Sectionhead common ************ --><!--  <Sectionhead>
      <Fragment slot="title">Hvem er Okane?</Fragment>
      <Fragment slot="desc">Vi er et sammensveiset team av dedikerte spesialister.</Fragment>
    </Sectionhead> -->
<!-- <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
  <h2 class="flex justify-center items-center font-bold text-3xl ">Vår Historie</h2>
  <p class="flex justify-center items-center text-lg leading-relaxed text-muted dark:text-gray-400">Deling av Kunnskap og Lidenskap for Åpen Kildekode</p>
</div> -->
<div class="grid md:grid-cols-1 gap-5 mx-auto max-w-4xl mt-5 px-4">
    <p>Vår historie begynner med en gruppe lidenskapelige konsulenter som bestemte seg for å bygge noe unikt. Etter mange år med erfaring og suksess innen konsulentbransjen, ønsket vi å skape en plattform som ville revolusjonere måten nettbutikker ble bygget og administrert på.</p>
    <p>Med et dypt ønske om å dele vår kunnskap og ekspertise, bestemte vi oss for å utvikle en open source-plattform. Ved å gjøre plattformen åpen og tilgjengelig for alle, ønsket vi å gi andre bedrifter og entreprenører verktøyene de trenger for å lykkes på nettet.</p>
    <p>Gjennom årene har vi samlet verdifull erfaring fra utallige prosjekter og samarbeid med kunder fra ulike bransjer. Denne innsikten og kunnskapen har formet oss til det erfarne teamet vi er i dag. Vi bringer med oss et solid fundament av ekspertise og forståelse for kundenes behov.</p>
    <p>Vår historie er en fortelling om dedikasjon, innovasjon og en lidenskap for å skape en bedre plattform for nettbutikker. Vi er stolte av å kunne tilby våre tjenester og støtte til bedrifter som ønsker å vokse og lykkes på nettet.</p>
</div>
