---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import ContactUs from '~/components/widgets/ContactUs.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Les mer', href: '#2' }}
    callToAction2={{ text: 'Kontakt oss', href: '#contact-us' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight tracking-widest">OKANE</span><span>,</span>
      <br />
      <span class="hidden xl:inline">din samarbeidspartner
      <br />
      innen digital transformasjon</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline text-left">
        Uansett om du er nyoppstartet eller ønsker å utvide
        din eksisterende virksomhet, er vi her for å hjelpe. Ta det første skrittet mot skyen i dag!</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note />

  <!-- HubspotForm Widget ************ -->
  <ContactUs title="Kontakt oss" desc="For en uforpliktende prat i dag!" />

  <!-- HighlightedPosts Widget ******* -->
  <LatestPosts
    title="Finn mer innhold i vår blogg"
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />
  
</Layout>
