<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: 'eu1',
    portalId: '139684463',
    formId: '991a9c2d-f456-4507-a9d9-8a81a4a81fe5',
    target: '#hubspotForm',
  });
</script>

<div id="hubspotForm" class="p-8 md:px-32 pd:py-16 dark:bg-slate-300"></div>

<style>
  .hubspotForm > span {
    background-color: yellow;
  }
</style>
