<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: 'eu1',
    portalId: '139684463',
    formId: '991a9c2d-f456-4507-a9d9-8a81a4a81fe5',
    target: '#hubspotForm',
  });
</script>

<section class="px-4 py-16 mx-auto max-w-7xl lg:py-20 md:grid md:grid-cols-2 dark:bg-slate-300">

  <div class="hidden text-slate-800 md:block">
    Kontakt oss i dag
  </div>
  <div id="hubspotForm" class=""></div>
</section>

<style>
  .hubspotForm > span {
    background-color: yellow;
  }
</style>
